Phần 1: Thống kê dữ liệu
1. Hãy sắp xếp dữ liệu điểm DH1 theo thứ tự tăng dần
2. Hãy sắp xếp dữ liệu điểm DH2 tăng dần theo nhóm giới tính
3. Hãy tạo pivot-table để thống kê các giá trị count, sum, mean, median, min, max, std, Q1,
Q2 và Q3 của DH1 theo KT
4. Hãy tạo pivot-table để thống kê các giá trị count, sum, mean, median, min, max, std, Q1,
Q2 và Q3 của DH1 theo KT và KV
5. Hãy tạo pivot-table để thống kê các giá trị count, sum, mean, median, min, max, std, Q1,
Q2 và Q3 của DH1 theo KT, KV và DT

In [ ]:
# Câu 1: Hãy sắp xếp dữ liệu điểm DH1 theo thứ tự tăng dần
import pandas as pd

# Đọc file CSV
df = pd.read_csv('processed_dulieuxettuyendaihoc.csv')

# Sắp xếp dữ liệu điểm DH1 theo thứ tự tăng dần
df_sort_DH1 = df.sort_values(by='DH1')
print(df_sort_DH1)

    STT   T1   L1   H1   S1   V1   X1   D1   N1   T2  ...  TBM1  TBM2  TBM3  \
53   54  4.9  5.9  6.2  5.6  5.9  5.0  7.0  5.6  6.1  ...  5.69  6.26  6.02
43   44  6.6  7.2  5.9  6.9  7.6  8.1  7.3  6.7  6.3  ...  7.05  6.61  6.77
72   73  5.5  6.6  7.2  7.6  5.5  6.7  6.7  5.2  6.0  ...  6.20  5.88  6.22
5     6  9.3  7.6  7.9  8.6  7.0  7.3  7.7  7.9  9.6  ...  7.96  8.54  7.38
87   88  7.3  4.3  5.3  5.8  4.9  3.7  5.6  5.3  5.9  ...  5.44  5.78  6.48
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...
84   85  8.4  7.4  6.0  7.8  6.3  7.2  8.5  6.0  9.3  ...  7.23  7.77  7.58
11   12  7.9  7.0  9.1  8.6  6.1  7.0  5.6  9.0  8.2  ...  7.43  7.72  7.49
23   24  5.3  6.3  5.7  6.9  5.9  7.5  6.6  5.1  6.4  ...  6.05  6.32  6.71
24   25  2.4  4.1  3.6  5.5  5.9  5.6  4.9  4.2  3.3  ...  4.45  4.88  5.41
97   98  8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  ...  7.05  7.84  7.67

    XL1  XL2  XL3  US_TBM1  US_TBM2  US_TBM3  KQXT
53   TB   TB   TB    2.276    2.504    2.408   0.0
43    K    K    K    2.820    2.644    2.708   0.0
72   TB   TB   TB    2.480    2.352    2.488   0.0
5     K    G    K    3.184    3.416    2.952   0.0
87   TB   TB   TB    2.176    2.312    2.592   0.0
..  ...  ...  ...      ...      ...      ...   ...
84    K    K    K    2.892    3.108    3.032   1.0
11    K    K    K    2.972    3.088    2.996   1.0
23   TB   TB    K    2.420    2.528    2.684   1.0
24    Y    Y   TB    1.780    1.952    2.164   0.0
97    K    K    K    2.820    3.136    3.068   1.0

[100 rows x 66 columns]

In [7]:
# Câu 2: Hãy sắp xếp dữ liệu điểm DH2 tăng dần theo nhóm giới tính

# Sắp xếp dữ liệu điểm DH2 tăng dần theo nhóm giới tính
df_sort_DH2 = df.sort_values(by=['GT', 'DH2'])
print(df_sort_DH2)

    STT   T1   L1   H1   S1   V1   X1   D1   N1   T2  ...  TBM1  TBM2  TBM3  \
95   96  8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  ...  7.43  7.42  6.83
25   26  3.6  5.8  6.9  6.1  5.5  7.2  5.5  4.3  4.2  ...  5.40  5.20  5.09
24   25  2.4  4.1  3.6  5.5  5.9  5.6  4.9  4.2  3.3  ...  4.45  4.88  5.41
46   47  6.7  6.8  6.4  5.9  5.6  6.4  8.0  6.8  6.6  ...  6.49  6.51  6.16
13   14  4.9  5.4  5.0  5.0  5.8  7.0  4.2  5.8  4.5  ...  5.38  5.51  6.26
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...
68   69  7.3  6.4  6.9  7.5  6.2  8.4  7.6  8.1  8.1  ...  7.19  7.70  8.00
11   12  7.9  7.0  9.1  8.6  6.1  7.0  5.6  9.0  8.2  ...  7.43  7.72  7.49
47   48  7.9  7.6  8.4  8.6  6.2  7.5  8.7  7.7  7.3  ...  7.67  7.49  7.11
2     3  5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  ...  5.77  5.38  6.04
97   98  8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  ...  7.05  7.84  7.67

    XL1  XL2  XL3  US_TBM1  US_TBM2  US_TBM3  KQXT
95    K    K    K    2.972    2.968    2.732   0.0
25   TB   TB   TB    2.160    2.080    2.036   0.0
24    Y    Y   TB    1.780    1.952    2.164   0.0
46   TB    K   TB    2.596    2.604    2.464   0.0
13   TB   TB   TB    2.152    2.204    2.504   0.0
..  ...  ...  ...      ...      ...      ...   ...
68    K    K    G    2.876    3.080    3.200   0.0
11    K    K    K    2.972    3.088    2.996   1.0
47    K    K    K    3.068    2.996    2.844   1.0
2    TB   TB   TB    2.308    2.152    2.416   1.0
97    K    K    K    2.820    3.136    3.068   1.0

[100 rows x 66 columns]

In [ ]:
# Câu 3: Hãy tạo pivot-table để thống kê các giá trị count, sum, mean, median, min, max, std, Q1, Q2 và Q3 của DH1 theo KT

# Tạo pivot-table thống kê các giá trị của DH1 theo KT
pivot_table_DH1_KT = df.pivot_table(values='DH1', index='KT', 
                                    aggfunc=['count', 'sum', 'mean', 'median', 'min', 'max', 'std', 
                                             lambda x: x.quantile(0.25),  # Q1
                                             lambda x: x.quantile(0.5),   # Q2 
                                             lambda x: x.quantile(0.75)]) # Q3
pivot_table_DH1_KT.columns = ['count', 'sum', 'mean', 'median', 'min', 'max', 'std', 'Q1', 'Q2', 'Q3']
print(pivot_table_DH1_KT)

    count     sum      mean  median   min   max       std      Q1    Q2     Q3
KT
A      49  163.50  3.336735    3.25  1.00  6.50  1.274296  2.2500  3.25  4.250
A1      6   17.50  2.916667    3.00  2.00  4.25  0.861201  2.1875  3.00  3.250
B       9   29.50  3.277778    3.50  1.75  4.50  0.823905  3.2500  3.50  3.750
C      14   79.25  5.660714    5.25  4.75  7.00  0.812209  5.0625  5.25  6.375
D1     22   84.25  3.829545    3.75  1.25  6.75  1.370146  3.0000  3.75  4.875

In [ ]:
# Câu 4: Hãy tạo pivot-table để thống kê các giá trị count, sum, mean, median, min, max, std, Q1, Q2 và Q3 của DH1 theo KT và KV

# Tạo pivot-table thống kê các giá trị của DH1 theo KT và KV
pivot_table_DH1_KT_KV = df.pivot_table(values='DH1', index=['KT', 'KV'], 
                                       aggfunc=['count', 'sum', 'mean', 'median', 'min', 'max', 'std', 
                                                lambda x: x.quantile(0.25),  # Q1
                                                lambda x: x.quantile(0.5),   # Q2 
                                                lambda x: x.quantile(0.75)]) # Q3
pivot_table_DH1_KT_KV.columns = ['count', 'sum', 'mean', 'median', 'min', 'max', 'std', 'Q1', 'Q2', 'Q3']
print(pivot_table_DH1_KT_KV)

        count    sum      mean  median   min   max       std      Q1     Q2  \
KT KV
A  1       29  93.75  3.232759   3.250  1.00  6.50  1.369194  2.0000  3.250
   2        9  31.75  3.527778   3.500  2.00  6.25  1.427653  2.2500  3.500
   2NT     11  38.00  3.454545   3.500  2.00  4.75  0.913908  2.8750  3.500
A1 1        2   4.75  2.375000   2.375  2.00  2.75  0.530330  2.1875  2.375
   2NT      4  12.75  3.187500   3.250  2.00  4.25  0.921389  2.9375  3.250
B  1        8  25.75  3.218750   3.375  1.75  4.50  0.860207  3.0000  3.375
   2NT      1   3.75  3.750000   3.750  3.75  3.75       NaN  3.7500  3.750
C  1        8  43.50  5.437500   5.250  4.75  7.00  0.728869  5.0000  5.250
   2        2  11.50  5.750000   5.750  5.00  6.50  1.060660  5.3750  5.750
   2NT      4  24.25  6.062500   6.000  5.25  7.00  0.943729  5.2500  6.000
D1 1       13  46.75  3.596154   3.500  1.50  5.75  1.264658  2.7500  3.500
   2        8  33.75  4.218750   4.500  1.25  6.75  1.617082  3.5625  4.500
   2NT      1   3.75  3.750000   3.750  3.75  3.75       NaN  3.7500  3.750

            Q3
KT KV
A  1    4.2500
   2    4.2500
   2NT  4.1250
A1 1    2.5625
   2NT  3.5000
B  1    3.5625
   2NT  3.7500
C  1    5.4375
   2    6.1250
   2NT  6.8125
D1 1    4.2500
   2    5.0000
   2NT  3.7500

In [ ]:
# Câu 5: Hãy tạo pivot-table để thống kê các giá trị count, sum, mean, median, min, max, std, Q1, Q2 và Q3 của DH1 theo KT, KV và DT

# Tạo pivot-table thống kê các giá trị của DH1 theo KT, KV và DT
pivot_table_DH1_KT_KV_DT = df.pivot_table(
    values='DH1',  
    index=['KT', 'KV', 'DT'],  
    aggfunc={
        'DH1': [
            'count', 'sum', 'mean', 'median', 'min', 'max', 'std',
            lambda x: x.quantile(0.25),  # Q1
            lambda x: x.quantile(0.5),   # Q2 
            lambda x: x.quantile(0.75)   # Q3
        ]
    }
)

# Đổi tên các cột
pivot_table_DH1_KT_KV_DT.columns = [
    'count', 'sum', 'mean', 'median', 'min', 'max', 'std', 'Q1', 'Q2', 'Q3'
]

# In kết quả
print(pivot_table_DH1_KT_KV_DT)

            <lambda_0>  <lambda_1>  <lambda_2>  count   max      mean  median  \
KT KV  DT
A  1   0.0      2.0000       3.250      4.2500     29  6.50  3.232759   3.250
   2   0.0      2.2500       3.000      4.1875      8  6.25  3.437500   3.000
       6.0      4.2500       4.250      4.2500      1  4.25  4.250000   4.250
   2NT 0.0      2.8750       3.500      4.1250     11  4.75  3.454545   3.500
A1 1   0.0      2.1875       2.375      2.5625      2  2.75  2.375000   2.375
   2NT 0.0      2.9375       3.250      3.5000      4  4.25  3.187500   3.250
B  1   0.0      3.0000       3.375      3.5625      8  4.50  3.218750   3.375
   2NT 0.0      3.7500       3.750      3.7500      1  3.75  3.750000   3.750
C  1   0.0      5.0000       5.250      5.4375      8  7.00  5.437500   5.250
   2   0.0      5.3750       5.750      6.1250      2  6.50  5.750000   5.750
   2NT 0.0      5.2500       6.000      6.8125      4  7.00  6.062500   6.000
D1 1   0.0      2.6875       3.625      4.4375     12  5.75  3.645833   3.625
       1.0      3.0000       3.000      3.0000      1  3.00  3.000000   3.000
   2   0.0      4.1250       4.500      5.0000      7  6.75  4.642857   4.500
       1.0      1.2500       1.250      1.2500      1  1.25  1.250000   1.250
   2NT 0.0      3.7500       3.750      3.7500      1  3.75  3.750000   3.750

             min       std    sum
KT KV  DT
A  1   0.0  1.00  1.369194  93.75
   2   0.0  2.00  1.498511  27.50
       6.0  4.25       NaN   4.25
   2NT 0.0  2.00  0.913908  38.00
A1 1   0.0  2.00  0.530330   4.75
   2NT 0.0  2.00  0.921389  12.75
B  1   0.0  1.75  0.860207  25.75
   2NT 0.0  3.75       NaN   3.75
C  1   0.0  4.75  0.728869  43.50
   2   0.0  5.00  1.060660  11.50
   2NT 0.0  5.25  0.943729  24.25
D1 1   0.0  1.50  1.307576  43.75
       1.0  3.00       NaN   3.00
   2   0.0  3.00  1.171334  32.50
       1.0  1.25       NaN   1.25
   2NT 0.0  3.75       NaN   3.75